<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="../assets/css/Animated-Pretty-Product-List-v12-Animated-Pretty-Product-List.css">
    <link rel="stylesheet" href="../assets/css/Banner-Heading-Image-images.css">
    <link rel="stylesheet" href="../assets/css/Navbar-Right-Links-icons.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-md bg-body py-3" style="position: fixed;top: 0;width: 100%;z-index: 2;background: rgba(255,255,255,0.8) !important;backdrop-filter: blur(5px);">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon" style="background: rgb(0,0,0);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-triangle" style="border-color: var(--bs-navbar-active-color);">
                        <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"></path>
                    </svg></span><span style="font-weight: bold;">VECT'ORG</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="../acheter">Acheter Un Modèle</a></li>
                    <li class="nav-item"><a class="nav-link" href="../404">Vendre</a></li>
                    <li class="nav-item"><a class="nav-link" href="../404">Plus</a></li>
                </ul><a class="btn btn-primary ms-md-2" role="button" href="#" style="color: var(--bs-btn-disabled-color);background: rgb(0,0,0);border-width: 0px;">Se Connecter</a>
            </div>
        </div>
    </nav>
    <header class="d-flex masthead" style="background-image: url('../assets/img/Hand.gif');">
        <div class="container my-auto text-center">
            <h1 class="mb-1" style="color: rgb(255,255,255);">VECT'ORG</h1>
            <h3 class="mb-5"><em style="color: rgb(255,255,255);">La 3D, Une Passion</em></h3><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#about" style="background: rgb(0,0,0);margin-bottom: 20px;border-color: rgba(255,255,255,0.5);">En Savoir Plus</a>
            <div class="overlay"></div>
        </div>
    </header>
    <section id="about" class="content-section bg-primary text-white text-center" style="background: white !important;color: black !important;">
        <div class="row" style="/*width: 100%;*/margin-right: 0;margin-left: 0;">
            <div class="col-lg-10 mx-auto">
                <h2>VECT'ORG, La Qualité d'une Mesh couplé au talent d'artistes indépendants</h2>
                <p class="lead mb-5"><span>VECT'ORG propose une large sélection d'assets 3D, mais également diverses textures et un moyen pour artistes indépendants de monétariser leur talents</span></p>
            </div>
        </div>
        <div class="container">
            <div class="content-section-heading">
                <h2 class="mb-5" style="margin-top: 25px;margin-bottom: 35px !important;">Nos Offres</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-diamond"></i></span>
                    <h4><strong>Assets de qualité</strong></h4>
                    <p class="mb-0 text-faded" style="color: #0C1821;">Controlé pour une topologie d'exception</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-pencil"></i></span>
                    <h4><strong>Vente en tant qu'artiste</strong></h4>
                    <p class="mb-0 text-faded" style="color: #0C1821;">Ammenez votre talent sur le marché N.1</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-map"></i></span>
                    <h4><strong>UVMaps et HDRs</strong></h4>
                    <p class="mb-0 text-faded"><span style="color: #0C1821;">Parce qu'une belle texture fait la différence</span></p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-energy"></i></span>
                    <h4><strong>19+ Formats</strong></h4>
                    <p class="mb-0 text-faded" style="color: #0C1821;">Votre projet est unique, nos extensions de fichier aussi</p>
                </div>
            </div>
        </div>
    </section>
    <section class="callout" style="background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url('../assets/img/star.gif');background-position: center center;background-repeat: no-repeat;background-size: cover;">
        <div class="container text-center">
            <h2 class="mx-auto mb-5"><span style="color: white;">Regoinez</span><span style="background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);-webkit-background-clip: text;color: transparent;animation: rainbow_animation 6s ease-in-out infinite;background-size: 400% 100%;text-shadow: 0px 0px 20px rgba(255,255,255,0.29);"><br>L'Aventure!</span></h2><a class="btn btn-primary btn-xl" role="button" href="#" style="background: var(--bs-emphasis-color);border-width: 0px;">Download Now!</a>
        </div>
    </section>
    <section id="portfolio" class="content-section">
        <div class="container">
            <div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0" style="color: rgb(29,128,159) !important;">Communauté</h3>
                <h2 class="mb-5">Projets Vedette</h2>
            </div>
            <div class="row g-0">
                <div class="col-lg-6"><a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2>Chairs</h2>
                                <p class="mb-0">Matériel design pour promotion de produit<br>P.N.</p>
                            </div>
                        </div><img class="img-fluid featured" src="../assets/img/Chair.jpg">
                    </a></div>
                <div class="col-lg-6"><a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2>Guy</h2>
                                <p class="mb-0">Modèle 3D avec texture peinte, rendu EEVE<br>James P.</p>
                            </div>
                        </div><img class="img-fluid featured" src="../assets/img/Guy.png">
                    </a></div>
                <div class="col-lg-6"><a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2>The garden</h2>
                                <p class="mb-0">Jardin des plaisirs imaginé par N.Catero<br>N.Catero</p>
                            </div>
                        </div><img class="img-fluid featured" src="../assets/img/Garden.png">
                    </a></div>
                <div class="col-lg-6"><a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2>The gate</h2>
                                <p class="mb-0">Collaboration entre réalisme et imagination, peint<br>N. Catero, James P.</p>
                            </div>
                        </div><img class="img-fluid featured" src="../assets/img/Gate.jpg">
                    </a></div>
            </div>
        </div>
    </section>
    <footer class="footer text-center">
        <div class="container">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">&nbsp;<a class="link-light social-link rounded-circle" href="https://example.com/"><i class="icon-social-linkedin"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="link-light social-link rounded-circle" href="https://example.com/"><i class="icon-social-tumblr"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="link-light social-link rounded-circle" href="https://example.com/"><i class="icon-social-pinterest"></i></a></li>
            </ul>
            <p class="text-muted mb-0 small">Copyright &nbsp;© VECTORG 2024</p>
        </div><a class="js-scroll-trigger scroll-to-top rounded" href="#page-top"><i class="fa fa-angle-up"></i></a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/stylish-portfolio.js"></script>
    <script src="../assets/js/Animated-Pretty-Product-List-v12-Animated-Pretty-Product-List.js"></script>
</body>

</html>
